.Navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #333;
  transition: 1s;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgColor {
  background: #ec8e18;
  opacity: 0.95;
}

.NavList {
  display: none;
}

/* /////// Hamburger /////// */

.Hamburger {
  color: white;
  background-color: transparent;
  margin-right: 3%;
  z-index: 50;
}

.Hamburger:hover {
  color: #ec8e18;
}

.bgColor .Hamburger:hover {
  color: #333;
}

/* //////// logo /////// */

.Navbar .NavLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  padding-left: 3%;
}

.Navbar .NavLogo img {
  width: 55px;
  height: 60px;
  color: white;
  filter: brightness(0.01) invert(0.9) sepia(0.1) hue-rotate(100deg)
    saturate(200%);
}

.Navbar .NavLogo h3 {
  font-size: 12px;
  text-align: center;
  min-width: 100px;
}

/*///////// logo hover /////////*/

.Navbar .NavLogo:hover img {
  filter: invert(71%) sepia(36%) saturate(4331%) hue-rotate(351deg)
    brightness(96%) contrast(92%);
}
.Navbar .NavLogo:hover h3 {
  color: #ec8e18;
}

.bgColor .NavLogo:hover img,
.bgColor .NavLogo:hover h3 {
  filter: invert(21%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(97%)
    contrast(102%);
  color: #333;
}

/* ////////  MobileNavList //////////// */

.MobileNavList {
  position: absolute;
  height: 100dvh;
  width: 50dvw;
  top: 76px;
  background-color: #444;
  transition: 1s;
  display: flex;
}

.bgColor .MobileNavList {
  background-color: #f7a43f;
}

.MobileNavList ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  text-align: center;
}

.MobileNavList ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 100%;
  display: block;
  padding: 10px 0px;
}

.MobileNavList ul li:hover {
  background-color: #555;
}

.MobileNavList ul li:hover a{
  color: #ec8e18;
  opacity: 1;
}

.bgColor .MobileNavList ul li:hover {
  background-color: #f8ae4e;
}

.bgColor .MobileNavList ul li:hover a{
  color: #ec8e18;
  opacity: 1;
}

/* //// NavList and MobileNavList hover two kinds */

.NavList ul li a:hover {
  color: #ec8e18;
  transform: scale(1.5);
  opacity: 1;
}

.bgColor .NavList ul li a:hover,
.bgColor .MobileNavList ul li a:hover {
  color: #333;
}

/* ////// phoneSection ///////// */

.Navbar .NavPhone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: 0.5s ease-in;
}

.Navbar .NavPhone img {
  width: 28px;
}

.Navbar .NavPhone:hover {
  transform: scale(1.05);
  color: #ec8e18;
}

.bgColor .NavPhone:hover {
  color: #333;
}

/* /////// big screen ////// */

@media screen and (min-width: 900px) {
  .Navbar .Hamburger {
    display: none;
  }

  .Navbar .MobileNavList {
    display: none;
  }

  /* //////// NavList style //////// */

  .NavList {
    display: flex;
    width: 60%;
  }

  .NavList ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    list-style: none;
    padding-right: 12%;
  }

  .NavList ul li {
    padding-left: 60px;
  }

  .NavList ul li a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s ease;
    color: white;
  }
}
