.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* //////// animation for MobileNavList //////// */

.animIn {
  animation-name: MobileNavListAnimationIn;
  animation-duration: 1s;
}

@keyframes MobileNavListAnimationIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX (0px);
  }
}
