.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal .active {
  transform: translateY(0px);
  opacity: 1;
}

/* ////// up from bottom ///// */

.activeUp{
  animation: UpSenAnimation 2s ease;
}

@keyframes UpSenAnimation {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateX (0px);
  }
}


/* /////// opacity //////////// */

.activeOpacity{
  animation: OpacitySenAnimation 2s ease;
}

@keyframes OpacitySenAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* //////// animation for MobileNavList //////// */

.animIn {
  animation-name: MobileNavListAnimationIn;
  animation-duration: 1s;
}

@keyframes MobileNavListAnimationIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX (0px);
  }
}
